{% extends "base.html" %}

{% block title %}Beranda{% endblock title %}

{% block content %}
    <div id="pages">
        <div id="tentang">
            <div id="page">
                <h1 class="tentang tab"><a href="#tentang">Tentang</a></h1>
                <div id="content" class="content">
                    <p>Konferensi BlankOn (BlanKonf) merupakan konferensi tahunan yang mempertemukan pengembang, kontributor, pengguna, pebisnis, dan pemerhati BlankOn untuk berdiskusi mengenai perkembangan dan rencana kegiatan BlankOn di masa mendatang dalam rangka ikut serta berkontribusi pada perkembangan TIK di Indonesia.</p>
                    <p>Setelah sukses dilaksanakan berturut-turut di Bogor (2009), Surabaya (2010), dan Semarang (2011), tahun ini BlanKonf akan kembali digelar di Bogor. Kegiatan BlanKonf meliputi penyajian presentasi, diskusi, dan lokakarya teknis seputar penggunaan, pengembangan, dan bisnis BlankOn. Pada pelaksanaan di tahun-tahun sebelumnya, acara BlanKonf didukung oleh sekitar 15 narasumber profesional dari berbagai latar belakang profesi dan dihadiri sekitar 300-500 peserta dari seluruh Indonesia.</p>
                    <p>Sesuai dengan misi BlankOn yang menjadi salah satu penggerak pemberdayaan Teknologi Informasi dan Komunikasi di Indonesia yang berbasis komunitas, tahun ini BlanKonf mengangkat tema "Revolusi Teknologi Informasi dan Komunikasi Indonesia".</p>
                    <p>Secara umum tujuan BlaKonf adalah sebagai berikut:
                        <ol>
                            <li>Menjadi ajang temu pengembang, kontributor, pengguna, pebisnis, dan pemerhati BlankOn,</li>
                            <li>Membahas pencapaian BlankOn di masa sebelumnya dan rencana BlankOn di masa mendatang,</li>
                            <li>Mengenalkan peluang-peluang bisnis bersama kemitraan BlankOn,</li>
                            <li>Penyampaian teknologi termutakhir yang dikembangkan oleh BlankOn kepada masyarakat.</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
        <div id="acara">
            <div id="page">
                <h1 class="acara tab"><a href="#acara">Lokasi dan Acara</a></h1>
                <div id="content" class="content">
                    <h1>Susunan Acara</h1>
                    <p>Acara BlanKonf #4 akan meliputi penyajian presentasi, diskusi dan lokakarya singkat pada topik-topik pemrogramam, multimedia, aplikasi perusahaan, virtualisasi, permainan, perangkat bergerak, jaringan komputer, keamanan dan kemitraan bisnis yang menghadirkan narasumber professional. Beberapa tema spesifik lokakarya yang akan disajikan adalah Gambar, Musik, OpenBTS, BlankBerry, Uji Penetrasi, Dinding Api, HTML5, Blackberry, Manokwari dan masih banyak lagi yang lainnya.</p>
                    <p>Susunan acara BlanKonf #4 adalah sebagai berikut:</p>
                    <h2>Jumat, 30 November 2012</h2>
                    <p>15:00 - 19:00 Pendaftaran penginapan peserta<br>
                      19:00 - 20:00 Makan malam<br>
                      20:00 - 21:30 Hangout #1<br>
                      21:30 Istirahat</p>
                    <h2>Sabtu, 1 Desember 2012</h2>
                    <p>07:00 - 08:00 Sarapan<br>
                      08:00 - 09:00 Pembukaan BlanKonf #4<br>
                      09:00 - 09:30 Keynote #1: Tema Pemerintah<br>
                      09:30 - 10:00 Keynote #2: Tema Pengembangan<br>
                      10:00 - 10:30 Coffee Break<br>
                      10:30 - 12:30 4 lokakarya kilat paralel sesi #1<br>
                      12:30 - 13:30 Makan siang<br>
                      13:30 - 15:30 4 lokakarya kilat paralel sesi #2<br>
                      15:30 - 16:00 Coffee Break<br>
                      16:00 - 18:00 4 lokakarya kilat paralel sesi #3<br>
                      18:00 - 19:00 Istirahat<br>
                      19:00 - 20:00 Makan Malam<br>
                      20:00 - 21:30 Hangout #2 dan Sertifikasi BlankOn YPLI<br>
                      21:30 - 22:00 Coffee Break<br>
                      22:00 Istirahat</p>
                    <h2>Minggu, 2 Desember 2012</h2>
                    <p>07:00 - 08:00 Sarapan<br>
                      08:00 - 08:30 Pembukaan Hari Ke-2<br>
                      08:30 - 09:00 Keynote #3: Tema Pendidikan<br>
                      09:00 - 09:30 Keynote #4: Tema Bisnis<br>
                      09:30 - 10:00 Coffee Break<br>
                      10:00 - 12:00 4 lokakarya kilat paralel sesi #4<br>
                      12:00 - 13:00 Makan Siang<br>
                      13:00 - 14:00 Penutupan<br> 
                      14:00 - Peserta meninggalkan penginapan</p>
                    <h1>Lokasi Acara</h1>
                    <p><a href="http://www.mitrakonservasi.co.id/" target="_blank">CICO Resort</a><br>
                        Jl. Tumenggung Wiradireja No. 216<br>
                        Cimahpar - Bogor Utara 16155<br>
                        Jawa Barat - Indonesia<br>
                        Telp: +62-251-8657220<br>
                        Fax: +62-251-8657132</p>
                    <p>Peta lokasi dapat lihat <a href="http://www.mitrakonservasi.co.id/index.php/layanan-konsumen/lokasi-cico.html" target="_blank">di sini</a>.</p>
                    <p>Untuk menuju lokasi dengan angkutan umum, ikuti petunjuk berikut:</p>
                    <p>Dari Bandara Soekarno-Hatta Jakarta:<br>
						Naik bis Damri jurusan Bogor turun di terminal bis Damri Bogor (Ongkos: Rp. 35.000,-)</p>
                    <p>Dari Terminal Bis Damri Bogor atau Terminal Bis Baranangsiang Bogor:<br>
						Di putaran tugu kujang, naik angkot 05 menuju Cimahpar, turun di CICO Resort (Ongkos: Rp. 2.000,-)</p>
                    <p>Dari Stasiun KRL Jakarta (Kota/Jatinegara/Tanah Abang):<br>
						Naik KRL jurusan Bogor turun di stasiun Bogor: KRL Commuter Line (Ongkos Rp. 9.000,-), KRL Ekonomi (Ongkos Rp. 2.000,-)</p>
                    <p>Dari Stasiun KRL Bogor:
						<ol>
							<li>Naik angkot 03 menuju terminal bis Baranangsiang turun di lampu merah McD Hotel Pangrango (Ongkos: Rp. 2.000,-)</li>
							<li>Dari McD, naik angkot 05 menuju Cimahpar, turun di CICO Resort (Ongkos: Rp. 2.000,-)</li>
						</ol>
					</p>
                </div>
            </div>
        </div>
        <div id="pembicara">
            <div id="page">
                <h1 class="pembicara tab"><a href="#pembicara">Pembicara</a></h1>
                <div id="content" class="content">
                    <p>BlanKonf #4 merupakan aktifitas lanjutan Komunitas BlankOn setelah menerbitkan BlankOn 8 Rote sekaligus pula menjadi media komunikasi untuk pengembangan BlankOn 9 Suroboyo dan produk-produk BlankOn lainnya seperti lingkungan destop Manokwari yang mutakhir dan mengagumkan. Kami mengundang anda untuk menjadi kontributor pengisi acara BlanKonf #4 dalam bentuk diskusi dan lokakarya singkat. Topik-topik yang dapat disajikan antara lain:
                        <ol>
                            <li>Penggunaan BlankOn 8 Rote, penyajian pengalaman menggunakan BlankOn 8 Rote di lembaga pendidikan, lembaga pemerintah, perusahaan atau di lembaga swadaya masyarakat, beberapa kendala yang dihadapi sebelum dan sesudah menggunakan BlankOn 8 Rote dan solusi-solusinya,</li>
                            <li>Aplikasi BlankOn 8 Rote, penyajian menggunakan aplikasi-aplikasi BlankOn 8 Rote untuk kebutuhan-kebutuhan spesifik seperti mengedit gambar, musik, video, menjalankan permainan,</li>
                            <li>BlankOn 8 Rote untuk Perusahaan, penyajian menggunakan BlankOn 8 Rote yang disesuaikan untuk kebutuhan perusahaan seperti untuk server web, server surel, server basisdata, server faksimili, dan lain-lain,</li>
                            <li>"<i>Hacking</i>" Manokwari, penyajian membuat tema untuk Manokwari, mengubah tata letak Manokwari, menyempurnakan Manokwari,</li>
                            <li>Pelokalan Bahasa Nusantara, penterjemahan bahasa aplikasi-aplikasi BlankOn ke bahasa daerah yang ada di seluruh Indonesia,</li>
                            <li>Promosi BlankOn, penyajian saran dan rekomendasi beserta tahapan-tahapan promosi BlankOn kepada masyarakat,</li>
                            <li>Berbisnis dengan BlankOn, penyajian/diskusi membangun bisnis yang berkaitan dengan BlankOn, tantangan dan peluangnya,</li>
                            <li>Topik-topik lain yang berkaitan dengan BlankOn.</li>
                        </ol>
                    </p>
                    <p>Perkiraan lama penyajian/diskusi 120 menit. Batas akhir penerimaan topik acara tanggal 21 November 2012 dan pemberitahuan topik acara yang diterima pada 24 November 2012. Acara ini adalah acara sukarela, tidak akan ada upah/uang saku bagi pengisi acara. Kami hanya menerima penyajian menggunakan BlankOn Rote atau BlankOn versi terdahulu yang sudah terpasang di perangkat penyajian anda.</p>
                    <p>Pendaftaran kontributor pengisi acara, bisa melalui <a href='http://www.emailmeform.com/builder/form/498y8919st' title='Pendaftaran Fasilitator BlanKonf #4 2012' target='_blank' onclick="emf_open_window(this.href, 937, 700); return false">tautan berikut</a>.</p> 
                </div>
            </div>
        </div>
        <div id="sponsor">
            <div id="page">
                <h1 id="sponsor" class="sponsor tab"><a href="#sponsor">Sponsor</a></h1>
                <div id="content" class="content">
                    <h1>Manfaat Mensponsori BlanKonf</h1>
                    <p>Beragam kalangan ditargetkan untuk datang ke BlanKonf. Pengembang datang untuk memamerkan hasil karyanya dan membahas apa saja yang akan dikerjakan untuk rilis BlankOn berikutnya. Pengembang BlankOn tidak hanya berkutat pada dunia komputer tapi juga mendalami dunia seni, pendidikan, dan keterampilan lain.</p>
                    <p>Pengguna datang untuk melihat apa yang hendak ditawarkan BlankOn di masa datang dan dapat menyaksikan pengembangan BlankOn secara langsung. Pengguna BlankOn lebih beragam, mulai dari pengusaha dan karyawan, pelajar dan mahasiswa, hingga pegawai pemerintahan.</p>
                    <p>Pemasar datang untuk melihat peluang apa yang dapat mereka jual dengan menggunakan BlankOn. Mereka menjalankan bisnisnya dengan memadukan BlankOn dan beragam produk komputer atau layanan teknologi informasi.</p>
                    <p>Jumlah peserta ditargetkan mencapai 120 orang.</p>
					<p>Proposal BlanKonf dapat diunduh pada tautan [0] [1] berikut (keluar dulu dari akun Google anda):
						<ul>
							<li>[0] <a href="https://docs.google.com/open?id=0B38YtdYQtGvFNGtVMlpOakY3UG8" target="_blank">Proposal Bahasa Indonesia (ID)</a> (6,3 MB)</li>
							<li>[1] <a href="https://docs.google.com/open?id=0B38YtdYQtGvFU3NlTHM5RS1qZlk" target="_blank">Proposal Bahasa Inggris (EN)</a> (6,3 MB)</li>
						</ul>
					</p>
                    <h1>Syarat dan Ketentuan Sponsor</h1>
                    <ol>
                        <li>Aplikasi sponsor diperlakukan berdasarkan "pertama datang, pertama dilayani". Sponsor mendukung misi BlanKonf. Panitia BlanKonf berhak untuk menolak sponsor yang tidak sesuai dengan misi BlanKonf,</li>
                        <li>Setelah mengisi dan menyetujui formulir aplikasi, sponsor harus menyerahkankan dana, gambar logo (dalam bentuk yang dibutuhkan panitia), dan informasi detil lainnya yang diperlukan (misal: nama sponsor, trademark dsb.) kepada panitia selambatnya dua bulan sebelum tanggal pelaksanaan BlanKonf,</li>
                        <li>Perjanjian Sponsor tidak dapat diproses tanpa pembayaran. Semua pembayaran dikirimkan ke rekening bank berikut:<br>
                            Bank Syariah Mandiri, FMIPA-UI Depok<br>
                            No. 163 000 8013<br>
                            a.n. Yayasan Penggerak Linux Indonesia,
                        </li>
                        <li>Sponsor tidak dapat memindahtangankan hak dan kewajiban sponsornya kepada pihak lain tanpa persetujuan panitia,</li>
                        <li>Panitia BlanKonf tidak bertanggungjawab atas kerusakan atau kehilangan barang milik sponsor karena kebakaran, pencurian, kecelakaan, atau sebab lain, baik akibat kelalaian ataupun karena bencana,</li>
                        <li>Sponsor tidak terbatas pada dukungan dana, tapi juga bisa dalam bentuk barang perlengkapan <i>hardware</i> / <i>software</i>, dsb. Jika perusahaan anda tertarik untuk menjadi sponsor dengan rencana yang tidak tertulis di brosur ini, silahkan merasa bebas untuk menghubungi panitia untuk mendiskusikan pilihan anda,</li>
                        <li>Paket sponsor dengan pemuatan logo akan mengikuti ruang yang tersedia pada bidang iklan. Ukuran logo disesuaikan dengan ukuran bidang tersebut,</li>
                        <li>Berkaitan dengan jumlah dana yang tersedia, panitia dimungkinkan untuk membatasi kualitas warna cetak logo sponsor.</li>
                    </ol>
                    <h1>Paket Sponsor</h1>
                    <h2>Platinum</h2>
                    <p>Investasi Rp. 50.000.000 (2 sponsor)
                        <ol>
                            <li>Penyebutan logo dan nama di iklan pada media massa,</li>
                            <li>Pemasangan logo ukuran besar di situs dan semua materi cetak BlanKonf,</li>
                            <li>Pemasangan logo pada header situs BlanKonf.</li>
                        </ol>
                    </p>
                    <h2>Emas</h2>
                    <p>Investasi Rp. 25.000.000 (4 sponsor)
                        <ol>
                            <li>Penyebutan nama di iklan pada media massa,</li>
                            <li>Pemasangan logo ukuran sedang di situs dan semua materi cetak BlanKonf,</li>
                            <li>Pemasangan logo pada header situs BlanKonf.</li>
                        </ol>
                    </p>
                    <h2>Perak</h2>
                    <p>Investasi Rp. 10.000.000 (10 sponsor)
                        <ol>
                            <li>Pemasangan logo ukuran kecil di situs dan semua materi cetak BlanKonf,</li>
                            <li>Pemasangan logo pada area sponsor situs BlanKonf.</li>
                        </ol>
                    </p>
                    <h2>Perunggu</h2>
                    <p>Investasi Rp. 5.000.000 (20 sponsor)
                        <ol>
                            <li>Pemasangan logo ukuran kecil di situs dan materi cetak utama BlanKonf,</li>
                            <li>Pemasangan logo pada area sponsor situs BlanKonf.</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
        <div id="pendaftaran">
            <div id="page">
                <h1 id="pendaftaran" class="pendaftaran tab"><a href="#pendaftaran">Pendaftaran</a></h1>
                <div id="content" class="content">
                    <p>Pendaftaran dibuka tanggal 1 November 2012 dan ditutup tanggal 24 November 2012 atau saat jumlah peserta sudah mencapai 120 orang. Seluruh lokakarya akan menggunakan BlankOn Rote. Peserta sangat disarankan membawa laptop/notebook/netbook yang sudah atau akan dipasang BlankOn Rote. CD/DVD/USB Instalasi dan Repositori BlankOn Rote akan tersedia di lokasi acara.</p>
                    <h2>Biaya Pendaftaran</h2>
                    <ol>
                        <li>Rp. 100.000 (BlanKonf), atau</li>
                        <li>Rp. 200.000 (BlanKonf + <a href="http://sertifikasi.ypli.or.id" target="_blank">Sertifikasi BlankOn YPLI</a>)</li>
                    </ol>
                    <h2>Cara Pendaftaran</h2>
                    <ol>
                        <li>Transfer biaya pendaftaran ke:<br>
							Bank Mandiri<br>
							Nomor: 1180005140420<br>
							Nama: Yudha Harimantoro
						</li>
                        <li>Konfirmasi pembayaran dengan mengisi <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHkxbzVhWlI3WUFtTm9ENlFmN3ZUZHc6MQ" target="_blank">formulir ini</a></li>
                        <li>Simpan bukti transfer untuk ditunjukkan saat pendaftaran ulang pada waktu pelaksanaan acara.</li>
                    </ol>
                    <p>Biaya termasuk: 4 sesi keynote, 4 sesi lokakarya kilat, DVD BlankOn Rote dan sertifikat BlanKonf #4.<br>
                       Gratis: Konsumsi selama acara dan penginapan di CICO Resort yang didukung oleh <a href="http://www.kominfo.go.id" target="_blank">Kominfo RI</a>
                    </p>
                </div>
            </div>
        </div>
        <div id="kontak">
            <div id="page">
                <h1 id="kontak" class="kontak tab"><a href="#kontak">Kontak</a></h1>
                <div id="content" class="content">
                    <h2>Sponsor</h2>
                    <p>Fanny Farhanah Mumtaz<br>
						Nomor Ponsel: 0857 1475 9495<br>
						Alamat surel: cutefunny46 [di] gmail.com
					</p>
                    <h2>Acara</h2>
                    <p>Utian Ayuba<br>
						Nomor Ponsel: 0251 7181 810<br>
						Alamat surel: utian [di] di.blankon.in
					</p>
                    <h2>Umum</h2>
                    <p>Surel: konf [di] blankonlinux.or.id<br>
						Facebook: <a href="http://facebook.com/blankonf" target="_blank">http://facebook.com/blankonf</a><br>
						Twitter: <a href="http://twitter.com/blankonf" target="_blank">http://twitter.com/blankonf</a>
                    </p>
                </div>
            </div>
        </div>
        <div id="sponsor-area">
            <h1>Media Partner</h1>
	    <img src="http://infolinux.web.id/wp-content/uploads/2012/07/LogoInfoLINUX-web.png" alt="InfoLinux" title="InfoLinux" height="40"><br />
            <h1>Penyelenggara</h1>
            <img src="https://lh4.googleusercontent.com/-CLtWXg8AMJQ/TteKCO4IuXI/AAAAAAAAAZU/2Yws2lT_otY/blankon.png" alt="BlankOn Linux" title="BlankOn Linux" height="40">
            <img src="http://bogor.linux.or.id/files/dokumen_ilc_2010/logo/logo_lain/logo_ypli.png" alt="Yayasan Penggerak Linux Indonesia" title="YPLI" height="40">
            <img src="http://infopublik.kominfo.go.id/media/logo%20kemkominfo1.jpg" alt="Kementerian Komunikasi dan Informatika RI" title="Kementerian Kominfo" height="60">
        </div>
    </div>
{% endblock content %}
